body, html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
}

.header {
    background-color: aquamarine;
}

.main-content {
    background-color: #f3f4f6;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px;
}

.library {
    display: grid;
    row-gap: 20px;
}

.library-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    list-style-type: none;
    justify-items: center;
}

.library-header li {
    padding: 10px;
}

.card {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    background-color: #d1d5db;
    border-radius: 6px;
    padding: 10px;
    list-style-type: none;
}

